doctype html
html(lang=En)
    head
        title головна
        include componets/head
    body
        .wrapper
            main
                .home
                    include componets/header
                section.section
                    .container
                        h2 start
                include componets/footer
        include componets/scripts