@font-face {
  font-family: mregular;
  src: url(../fonts/mregular/Montserrat-Regular.eot?v=1);
  src: url(../fonts/mregular/Montserrat-Regular.eot?iefix?v=1) format("eot"),
  url(../fonts/mregular/Montserrat-Regular.woff?v=1) format("woff"),
  url(../fonts/mregular/Montserrat-Regular.ttf?v=1) format("truetype");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: mbold;
  src: url(../fonts/mbold/Montserrat-Bold.eot?v=1);
  src: url(../fonts/mbold/Montserrat-Bold.eot?iefix?v=1) format("eot"),
  url(../fonts/mbold/Montserrat-Bold.woff?v=1) format("woff"),
  url(../fonts/mbold/Montserrat-Bold.ttf?v=1) format("truetype");
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: mblack;
  src: url(../fonts/mblack/Montserrat-Black.eot?v=1);
  src: url(../fonts/mblack/Montserrat-Black.eot?iefix?v=1) format("eot"),
  url(../fonts/mblack/Montserrat-Black.woff?v=1) format("woff"),
  url(../fonts/mblack/Montserrat-Black.ttf?v=1) format("truetype");
  font-style: normal;
  font-weight: 900
}

@font-face {
  font-family: msemibold;
  src: url(../fonts/msemibold/Montserrat-SemiBold.eot?v=1);
  src: url(../fonts/msemibold/Montserrat-SemiBold.eot?iefix?v=1) format("eot"),
  url(../fonts/msemibold/Montserrat-SemiBold.woff?v=1) format("woff"),
  url(../fonts/msemibold/Montserrat-SemiBold.ttf?v=1) format("truetype");
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: mlight;
  src: url(../fonts/mlight/Montserrat-Light.eot?v=1);
  src: url(../fonts/mlight/Montserrat-Light.eot?iefix?v=1) format("eot"),
  url(../fonts/mlight/Montserrat-Light.woff?v=1) format("woff"),
  url(../fonts/mlight/Montserrat-Light.ttf?v=1) format("truetype");
  font-style: normal;
  font-weight: 300
}

@font-face {
  font-family: mmedium;
  src: url(../fonts/mmedium/Montserrat-Medium.eot?v=1);
  src: url(../fonts/mmedium/Montserrat-Medium.eot?iefix?v=1) format("eot"),
  url(../fonts/mmedium/Montserrat-Medium.woff?v=1) format("woff"),
  url(../fonts/mmedium/Montserrat-Medium.ttf?v=1) format("truetype");
  font-style: normal;
  font-weight: 500
}

@font-face {
  font-family: mitalic;
  src: url(../fonts/mitalic/Montserrat-Italic.eot?v=1);
  src: url(../fonts/mitalic/Montserrat-Italic.eot?iefix?v=1) format("eot"),
  url(../fonts/mitalic/Montserrat-Italic.woff?v=1) format("woff"),
  url(../fonts/mitalic/Montserrat-Italic.ttf?v=1) format("truetype");
  font-style: italic;
  font-weight: 400
}

a, abbr, acronym, address, applet, article, aside, audio, big, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

html {
  line-height: 1
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, td, th {
  text-align: left;
  font-weight: 400;
  vertical-align: middle
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none
}

a img {
  border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

* {
  box-sizing: border-box;
  outline: none !important
}

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden
}
